*{
    margin: 0;
}
header{
    background-color: turquoise;
    height: 4em;
}
body{
    background-color: blueviolet;
}
.navegacao{
    
   background-color: brown;
   display: flex;
   position: fixed;
    width: 100%;

}
.fundoTexto{
    background-color: chocolate;
   
    color: white;
    width: fit-content;
    margin: auto;
    position: relative;
    top: 10rem;
}
h3{
    border-radius: 40px;
    margin: auto;
}
h2{
    margin-bottom: 30px;
}
.logo{
    margin-left: 10%;
}
.navegacao nav{
    position: absolute;
    left: 60%;
    top: 1em;
}
ul li{
    display: inline;
    margin: 20px;
}
.banner{
    background-color: azure;
    background-image: url(parallax-imagem1.png);
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
  
}
.secao1{
    
   
    position: absolute;
    top: 50%;
    left: 25%;
      
}
.secao1 h1{
    
    color: white;
    font-size: xxx-large;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;position: relative;
}
.textos{
    background-color: cornsilk;
    height: 30%;
   
    text-align: center;
    padding: 30px;
}
.titulos{
    background-color: thistle;
    width: 100%;
    text-align: center;
    height: 200px;

}
.imagem1,.imagem2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.imagem1{
    background-image: url(parallax-imagem2.jpg);
   
}
.imagem2{
background-image: url(parallax-imagem3.jpg);  
   
}
.textos p{
    width: 70%;
    margin: auto;
    text-align: justify;
    line-height: 30px;
    font-size: larger;
}
.contato{
    background-image: url(parallax-imagem4.png);
}
.contatoCentro{
    text-align: center;
}
.contatoEspaço{
    position: relative;
    top: 0px;
}
iframe{
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.rodape{
    text-align: center;
    background-image: url(cafeteria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px;
   
}
.direitos{
    margin-top: 40px;
}
@media   (max-width:1000px) {
    .banner{
        background-position: top;
        background-size: auto;
       
    }
}